@using Microsoft.AspNet.Identity

@if(Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff"
        , "Account",
        FormMethod.Post,
        new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken() // Evitar que se llamado de otra pagina Html
                <ul class="nav nav-bar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Hello " + User.Identity.GetUserName(),
                                            "Manage",
                                            "Account",
                                            routeValues: null,
                                            htmlAttributes: new { title="Manage" }

                                        )
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
    }
}
else
{
    <ul class="nav nav-bar-nav navbar-right">
        <li>
            @Html.ActionLink("Register","Register","Account")
        </li>
        <li>
            @Html.ActionLink("Log In", "Login", "Account")
        </li>
    </ul>
}
